* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    margin: 0px;
}

.kanban-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: blue;
    gap: 16px;
    padding: 10px;
}

.kanban-column {
    background-color: #F1F2F4;
    border-radius: 10px;
    max-height: 100vh;
    overflow-y: auto;
}

.kanban-column-title {
    margin: 10px;
    font-weight: 500;
    position: sticky;
    top: 10px;
    padding: 10px;
    background-color: #F1F2F4;
}

.kanban-card {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}







